/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 1, 2015, 9:04:13 AM
    Author     : chauhn
*/
/*--Set Logo Image position and locate logo image file--*/ 
#logo {left:0px}
#logo {top:5px}

h1.logo a {background: url(/images/banners/logotdtn.png) no-repeat; z-index:1;}
/*--End Set Logo Image position and locate logo image file--*/ 

/*--Body font size--*/
body{font-size: 12px}

/*--Content Link Color--*/
#content_full a, #content_remainder a{color: #008000 }
#content_full a:hover, #content_remainder a:hover{color: #AAAAAA }

/*--Text Colors for Module Heads and Article titles--*/ 
#content_full h2, #content_full h2 a:link, #content_full h2 a:visited, #content_full .content_header, #content_full .articleHead, #content_remainder h2, #content_remainder h2 a:link, #content_remainder h2 a:visited, #content_remainder .content_header, #content_remainder .articleHead{color: #008000 }
.module h3, .module_menu h3 {color: #008000 }

/*--Text Colors for Module Heads and Article titles--*/ 
h2, h2 a:link, h2 a:visited, .content_header, .articleHead {color: #008000 }
.module h3, .module_menu h3 {color: #008000 }

/*--Text Colors for Logo and Slogan--*/ 
h1.logo-text a {color: #333333 }
p.site-slogan {color: #333333 }

/*--Hornav Ul text color and dropdown background color--*/
#hornav ul li a{color: #3BE723 }
#subMenusContainer ul, #subMenusContainer ol{background-color: #026338 }

/*--Start Style Side Column and Content Layout Divs--*/
/*--Get Side Column widths from Parameters--*/
#sidecol_a {width: 215px }
#sidecol_b {width: 215px }

/*--Check and see what modules are toggled on/off then take away columns width, margin and border values from overall width*/

/*Style Side Column A, Side Column B and Content Divs layout*/
  
	#sidecol_a {float:left;}
	#sidecol_b {float:right;}
	#content_remainder {float:left;}
/*--End Style Side Column and Content Layout Divs--*/

/*--Load Custom Css Styling--*/
