/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2015, 7:59:23 AM
    Author     : chauhn
*/

.main-navigation {
  border-top-right-radius: 6px;
border-top-left-radius: 6px;
background: transparent url("../images/bg-menu-top.png") repeat-x scroll 0% 0%;
clear: both;
float: left;
position: relative;
//top: 136px;
box-shadow: 0px 8px 6px -6px #699939;
width: 100%;  
font-family: Arial,Helvetica,sans-serif;
}

.main-navigation ul a:hover, .main-navigation ul ul a:hover, .main-navigation ul li.active a {
    color: #FF0;
}
.main-navigation li:first-child a {
    border: medium none;
}
.main-navigation a:hover {
    cursor: pointer;
    display: block;
    text-decoration: none;
}
.main-navigation ul li a {
    color: #3BE723;
}
.main-navigation ul a, .main-navigation .separator {
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 44px;
    margin: 0px;
    padding: 0px 16px;
    text-shadow: 0px 1px 1px #666262;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 9999;
}
.main-navigation ul a, .main-navigation ul ul a, .main-navigation .separator {
    /*white-space: nowrap;*/
    margin: 0px;
    cursor: pointer;
}
a:hover {
    color: #AAA;
}
a {
    color: #008000;
}
a {
    text-decoration: none;
    transition: color 0.25s ease-in 0s;
    outline: 0px none;
}

/*Override style.css - # Menus*/

.main-navigation ul ul {
    background: #404040;
}
.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_item > a:hover
.main-navigation .current-menu-item > a:hover {
    background: none;
    color: #FF0;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
    //color: #fff;
    //color: hsl(0,0%, 100%);
    background: #55d737;    
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
    background: #55d737;
}
